In [1]:
#Artificial Neural network : Churn Modelling

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("/content/drive/My Drive/Deep learning/Churn_Modelling.csv")

In [4]:
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [5]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [6]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [7]:
df.tail()

      RowNumber  CustomerId    Surname  ...  IsActiveMember EstimatedSalary Exited
9995       9996    15606229   Obijiaku  ...               0        96270.64      0
9996       9997    15569892  Johnstone  ...               1       101699.77      0
9997       9998    15584532        Liu  ...               1        42085.58      1
9998       9999    15682355  Sabbatini  ...               0        92888.52      1
9999      10000    15628319     Walker  ...               0        38190.78      0

[5 rows x 14 columns]

In [8]:
df.shape

(10000, 14)

In [11]:
df_new=pd.get_dummies(df,columns={'Geography','Gender'},drop_first=True)

In [12]:
df_new.head()

   RowNumber  CustomerId  ... Geography_Spain  Gender_Male
0          1    15634602  ...               0            0
1          2    15647311  ...               1            0
2          3    15619304  ...               0            0
3          4    15701354  ...               0            0
4          5    15737888  ...               1            0

[5 rows x 15 columns]

In [15]:
df_new=df_new.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [16]:
df_new.head()

   CreditScore  Age  Tenure  ...  Geography_Germany  Geography_Spain  Gender_Male
0          619   42       2  ...                  0                0            0
1          608   41       1  ...                  0                1            0
2          502   42       8  ...                  0                0            0
3          699   39       1  ...                  0                0            0
4          850   43       2  ...                  0                1            0

[5 rows x 12 columns]

In [22]:
data=df_new.iloc[:,[8,0,1,2,3,4,5,6,7,9,10,11]]

In [23]:
data.head()

   Exited  CreditScore  Age  ...  Geography_Germany  Geography_Spain  Gender_Male
0       1          619   42  ...                  0                0            0
1       0          608   41  ...                  0                1            0
2       1          502   42  ...                  0                0            0
3       0          699   39  ...                  0                0            0
4       0          850   43  ...                  0                1            0

[5 rows x 12 columns]

In [24]:
X=data.iloc[:,1:12]

In [25]:
X.head()

   CreditScore  Age  Tenure  ...  Geography_Germany  Geography_Spain  Gender_Male
0          619   42       2  ...                  0                0            0
1          608   41       1  ...                  0                1            0
2          502   42       8  ...                  0                0            0
3          699   39       1  ...                  0                0            0
4          850   43       2  ...                  0                1            0

[5 rows x 11 columns]

In [26]:
y=data.iloc[:,0]

In [27]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [32]:
from sklearn.model_selection import  train_test_split

In [36]:
from sklearn.preprocessing import scale

In [37]:
x=scale(X)

In [38]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [42]:
X_train.shape

(7000, 11)

In [43]:
X_test.shape

(3000, 11)

In [44]:
y_train.shape

(7000,)

In [45]:
y_test.shape

(3000,)

In [46]:
############Now lets make ANNN###################

In [47]:
import keras#Keras is an open-source neural-network library written in Python. It is capable of running on top of TensorFlow, Microsoft Cognitive Toolkit, R, Theano, or PlaidML.[2][3][4] Designed to enable fast experimentation with deep neural networks

Using TensorFlow backend.

In [49]:
from keras.models import Sequential#The sequential API allows you to create models layer-by-layer for most problems

In [51]:
from keras.layers import Dense #The name suggests that layers are fully connected (dense) by the neurons in a network layer. Each neuron in a layer receives an input from all the neurons present in the previous layerâ€”thus, they're densely connected.

In [52]:
from keras.layers import LeakyReLU,PReLU,ELU#Importing activation functions

In [54]:
from keras.layers import Dropout#Dropout is a technique where randomly selected neurons are ignored during training

In [56]:
#Initializing the ANN
classifier=Sequential()

In [57]:
#Adding the input layer and the first hidden layer
classifier.add(Dense(output_dim=6,activation='relu',init='he_uniform',input_dim=11))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=11, units=6, kernel_initializer="he_uniform")`

In [58]:
#Adding the second hidden layer
classifier.add(Dense(output_dim=6,activation='relu',init='he_uniform'))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=6, kernel_initializer="he_uniform")`

In [59]:
classifier.add(Dense(output_dim=1,activation='sigmoid',init='glorot_uniform'))#Adding the output layer

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="glorot_uniform")`
  """Entry point for launching an IPython kernel.

In [64]:
#Compiling the ANN
classifier.compile(optimizer='Adamax',loss='binary_crossentropy',metrics=['accuracy'])

In [67]:
#Fitting the ANN to the training data
model_history=classifier.fit(X_train,y_train,batch_size=10,epochs=100)

Epoch 1/100
7000/7000 [==============================] - 4s 580us/step - loss: 0.5072 - accuracy: 0.8006
Epoch 2/100
7000/7000 [==============================] - 2s 333us/step - loss: 0.4707 - accuracy: 0.8014
Epoch 3/100
7000/7000 [==============================] - 2s 328us/step - loss: 0.4550 - accuracy: 0.8014
Epoch 4/100
7000/7000 [==============================] - 2s 331us/step - loss: 0.4437 - accuracy: 0.8014
Epoch 5/100
7000/7000 [==============================] - 2s 330us/step - loss: 0.4358 - accuracy: 0.8014
Epoch 6/100
7000/7000 [==============================] - 3s 358us/step - loss: 0.4297 - accuracy: 0.8017
Epoch 7/100
7000/7000 [==============================] - 3s 361us/step - loss: 0.4231 - accuracy: 0.8024
Epoch 8/100
7000/7000 [==============================] - 2s 333us/step - loss: 0.4160 - accuracy: 0.8040
Epoch 9/100
7000/7000 [==============================] - 2s 331us/step - loss: 0.4087 - accuracy: 0.8074
Epoch 10/100
7000/7000 [==============================] - 2s 328us/step - loss: 0.4013 - accuracy: 0.8206
Epoch 11/100
7000/7000 [==============================] - 2s 339us/step - loss: 0.3934 - accuracy: 0.8364
Epoch 12/100
7000/7000 [==============================] - 2s 331us/step - loss: 0.3860 - accuracy: 0.8433
Epoch 13/100
7000/7000 [==============================] - 2s 335us/step - loss: 0.3792 - accuracy: 0.8471
Epoch 14/100
7000/7000 [==============================] - 2s 328us/step - loss: 0.3725 - accuracy: 0.8497
Epoch 15/100
7000/7000 [==============================] - 2s 329us/step - loss: 0.3667 - accuracy: 0.8547
Epoch 16/100
7000/7000 [==============================] - 2s 334us/step - loss: 0.3621 - accuracy: 0.8554
Epoch 17/100
7000/7000 [==============================] - 2s 330us/step - loss: 0.3584 - accuracy: 0.8607
Epoch 18/100
7000/7000 [==============================] - 2s 330us/step - loss: 0.3552 - accuracy: 0.8584
Epoch 19/100
7000/7000 [==============================] - 2s 333us/step - loss: 0.3527 - accuracy: 0.8600
Epoch 20/100
7000/7000 [==============================] - 2s 326us/step - loss: 0.3508 - accuracy: 0.8587
Epoch 21/100
7000/7000 [==============================] - 2s 331us/step - loss: 0.3491 - accuracy: 0.8604
Epoch 22/100
7000/7000 [==============================] - 2s 349us/step - loss: 0.3477 - accuracy: 0.8620
Epoch 23/100
7000/7000 [==============================] - 3s 357us/step - loss: 0.3465 - accuracy: 0.8624
Epoch 24/100
7000/7000 [==============================] - 3s 359us/step - loss: 0.3453 - accuracy: 0.8624
Epoch 25/100
7000/7000 [==============================] - 3s 362us/step - loss: 0.3447 - accuracy: 0.8621
Epoch 26/100
7000/7000 [==============================] - 2s 352us/step - loss: 0.3439 - accuracy: 0.8620
Epoch 27/100
7000/7000 [==============================] - 2s 320us/step - loss: 0.3431 - accuracy: 0.8610
Epoch 28/100
7000/7000 [==============================] - 2s 335us/step - loss: 0.3426 - accuracy: 0.8633
Epoch 29/100
7000/7000 [==============================] - 2s 332us/step - loss: 0.3420 - accuracy: 0.8634
Epoch 30/100
7000/7000 [==============================] - 2s 335us/step - loss: 0.3415 - accuracy: 0.8649
Epoch 31/100
7000/7000 [==============================] - 2s 328us/step - loss: 0.3412 - accuracy: 0.8627
Epoch 32/100
7000/7000 [==============================] - 2s 328us/step - loss: 0.3407 - accuracy: 0.8634
Epoch 33/100
7000/7000 [==============================] - 2s 338us/step - loss: 0.3401 - accuracy: 0.8639
Epoch 34/100
7000/7000 [==============================] - 2s 334us/step - loss: 0.3402 - accuracy: 0.8644
Epoch 35/100
7000/7000 [==============================] - 2s 329us/step - loss: 0.3399 - accuracy: 0.8641
Epoch 36/100
7000/7000 [==============================] - 2s 329us/step - loss: 0.3396 - accuracy: 0.8629
Epoch 37/100
7000/7000 [==============================] - 2s 328us/step - loss: 0.3392 - accuracy: 0.8643
Epoch 38/100
7000/7000 [==============================] - 2s 328us/step - loss: 0.3390 - accuracy: 0.8657
Epoch 39/100
7000/7000 [==============================] - 2s 339us/step - loss: 0.3389 - accuracy: 0.8651
Epoch 40/100
7000/7000 [==============================] - 2s 330us/step - loss: 0.3385 - accuracy: 0.8660
Epoch 41/100
7000/7000 [==============================] - 2s 335us/step - loss: 0.3382 - accuracy: 0.8640
Epoch 42/100
7000/7000 [==============================] - 2s 333us/step - loss: 0.3379 - accuracy: 0.8650
Epoch 43/100
7000/7000 [==============================] - 2s 324us/step - loss: 0.3378 - accuracy: 0.8666
Epoch 44/100
7000/7000 [==============================] - 2s 328us/step - loss: 0.3373 - accuracy: 0.8651
Epoch 45/100
7000/7000 [==============================] - 2s 326us/step - loss: 0.3375 - accuracy: 0.8666
Epoch 46/100
7000/7000 [==============================] - 2s 337us/step - loss: 0.3372 - accuracy: 0.8653
Epoch 47/100
7000/7000 [==============================] - 2s 332us/step - loss: 0.3367 - accuracy: 0.8660
Epoch 48/100
7000/7000 [==============================] - 2s 326us/step - loss: 0.3366 - accuracy: 0.8656
Epoch 49/100
7000/7000 [==============================] - 2s 329us/step - loss: 0.3363 - accuracy: 0.8663
Epoch 50/100
7000/7000 [==============================] - 2s 334us/step - loss: 0.3363 - accuracy: 0.8659
Epoch 51/100
7000/7000 [==============================] - 2s 328us/step - loss: 0.3360 - accuracy: 0.8651
Epoch 52/100
7000/7000 [==============================] - 2s 323us/step - loss: 0.3361 - accuracy: 0.8660
Epoch 53/100
7000/7000 [==============================] - 2s 326us/step - loss: 0.3360 - accuracy: 0.8657
Epoch 54/100
7000/7000 [==============================] - 2s 335us/step - loss: 0.3353 - accuracy: 0.8657
Epoch 55/100
7000/7000 [==============================] - 2s 324us/step - loss: 0.3356 - accuracy: 0.8671
Epoch 56/100
7000/7000 [==============================] - 2s 324us/step - loss: 0.3352 - accuracy: 0.8669
Epoch 57/100
7000/7000 [==============================] - 2s 331us/step - loss: 0.3351 - accuracy: 0.8673
Epoch 58/100
7000/7000 [==============================] - 2s 328us/step - loss: 0.3352 - accuracy: 0.8667
Epoch 59/100
7000/7000 [==============================] - 2s 329us/step - loss: 0.3350 - accuracy: 0.8666
Epoch 60/100
7000/7000 [==============================] - 2s 327us/step - loss: 0.3348 - accuracy: 0.8669
Epoch 61/100
7000/7000 [==============================] - 2s 328us/step - loss: 0.3348 - accuracy: 0.8667
Epoch 62/100
7000/7000 [==============================] - 2s 335us/step - loss: 0.3349 - accuracy: 0.8660
Epoch 63/100
7000/7000 [==============================] - 2s 328us/step - loss: 0.3344 - accuracy: 0.8669
Epoch 64/100
7000/7000 [==============================] - 2s 329us/step - loss: 0.3344 - accuracy: 0.8661
Epoch 65/100
7000/7000 [==============================] - 2s 329us/step - loss: 0.3345 - accuracy: 0.8659
Epoch 66/100
7000/7000 [==============================] - 2s 330us/step - loss: 0.3342 - accuracy: 0.8683
Epoch 67/100
7000/7000 [==============================] - 2s 327us/step - loss: 0.3340 - accuracy: 0.8679
Epoch 68/100
7000/7000 [==============================] - 2s 328us/step - loss: 0.3342 - accuracy: 0.8670
Epoch 69/100
7000/7000 [==============================] - 2s 328us/step - loss: 0.3338 - accuracy: 0.8667
Epoch 70/100
7000/7000 [==============================] - 2s 334us/step - loss: 0.3340 - accuracy: 0.8659
Epoch 71/100
7000/7000 [==============================] - 2s 330us/step - loss: 0.3340 - accuracy: 0.8669
Epoch 72/100
7000/7000 [==============================] - 2s 335us/step - loss: 0.3339 - accuracy: 0.8671
Epoch 73/100
7000/7000 [==============================] - 2s 330us/step - loss: 0.3340 - accuracy: 0.8659
Epoch 74/100
7000/7000 [==============================] - 2s 326us/step - loss: 0.3335 - accuracy: 0.8669
Epoch 75/100
7000/7000 [==============================] - 2s 327us/step - loss: 0.3338 - accuracy: 0.8656
Epoch 76/100
7000/7000 [==============================] - 2s 329us/step - loss: 0.3332 - accuracy: 0.8657
Epoch 77/100
7000/7000 [==============================] - 2s 336us/step - loss: 0.3335 - accuracy: 0.8666
Epoch 78/100
7000/7000 [==============================] - 2s 327us/step - loss: 0.3336 - accuracy: 0.8654
Epoch 79/100
7000/7000 [==============================] - 2s 329us/step - loss: 0.3335 - accuracy: 0.8663
Epoch 80/100
7000/7000 [==============================] - 2s 334us/step - loss: 0.3334 - accuracy: 0.8661
Epoch 81/100
7000/7000 [==============================] - 2s 327us/step - loss: 0.3333 - accuracy: 0.8674
Epoch 82/100
7000/7000 [==============================] - 2s 331us/step - loss: 0.3332 - accuracy: 0.8656
Epoch 83/100
7000/7000 [==============================] - 2s 329us/step - loss: 0.3332 - accuracy: 0.8674
Epoch 84/100
7000/7000 [==============================] - 2s 325us/step - loss: 0.3333 - accuracy: 0.8660
Epoch 85/100
7000/7000 [==============================] - 2s 333us/step - loss: 0.3331 - accuracy: 0.8669
Epoch 86/100
7000/7000 [==============================] - 2s 331us/step - loss: 0.3331 - accuracy: 0.8667
Epoch 87/100
7000/7000 [==============================] - 2s 332us/step - loss: 0.3330 - accuracy: 0.8666
Epoch 88/100
7000/7000 [==============================] - 2s 345us/step - loss: 0.3332 - accuracy: 0.8657
Epoch 89/100
7000/7000 [==============================] - 2s 328us/step - loss: 0.3327 - accuracy: 0.8674
Epoch 90/100
7000/7000 [==============================] - 2s 324us/step - loss: 0.3328 - accuracy: 0.8679
Epoch 91/100
7000/7000 [==============================] - 2s 324us/step - loss: 0.3328 - accuracy: 0.8673
Epoch 92/100
7000/7000 [==============================] - 2s 327us/step - loss: 0.3328 - accuracy: 0.8659
Epoch 93/100
7000/7000 [==============================] - 2s 328us/step - loss: 0.3327 - accuracy: 0.8681
Epoch 94/100
7000/7000 [==============================] - 2s 325us/step - loss: 0.3327 - accuracy: 0.8681
Epoch 95/100
7000/7000 [==============================] - 2s 324us/step - loss: 0.3328 - accuracy: 0.8674
Epoch 96/100
7000/7000 [==============================] - 2s 334us/step - loss: 0.3321 - accuracy: 0.8666
Epoch 97/100
7000/7000 [==============================] - 2s 326us/step - loss: 0.3326 - accuracy: 0.8670
Epoch 98/100
7000/7000 [==============================] - 2s 328us/step - loss: 0.3325 - accuracy: 0.8656
Epoch 99/100
7000/7000 [==============================] - 2s 329us/step - loss: 0.3326 - accuracy: 0.8680
Epoch 100/100
7000/7000 [==============================] - 2s 326us/step - loss: 0.3326 - accuracy: 0.8671

In [68]:
print(model_history.history.keys())

dict_keys(['loss', 'accuracy'])

In [82]:
#Making the predictions and Evaluating the models
y_pred=classifier.predict(X_test)
y_pred=(y_pred>0.5)

In [86]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [85]:
print(confusion_matrix(y_test,y_pred))

[[2251  102]
 [ 338  309]]

In [87]:
print(accuracy_score(y_test,y_pred))

0.8533333333333334